body {
    font-family: Arial, sans-serif;
    background-color: #c8d0c9;
    padding: 20px;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    margin: 0;
    display: flex;
    color: black;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
}

.logo {
    width: 70%;
    max-width: 150px;
}

.clearfix {
    clear: both;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #ffffff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    margin-right: 10px;
}

input[type="text"],
button {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}

input[type="checkbox"] {
    margin-left: 5px;
}

button {
    cursor: pointer;
}

.shortcut-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.buttons {
    display: flex;
    gap: 10px;
}



.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: normal;
    align-content: center;
}

.flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
    padding-left: 15px;
}

.flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: flex-end;
    text-align: right;
    order: 0;
}

.pure-form legend {
    border-bottom: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-weight: bold;
}

div.key-check {
    display: inline-block;

}

div.key-check input[type=checkbox] {
    display: none;
    height: auto;
}

div.key-check input[type=checkbox]+label img {
    opacity: 0.3;
}

div.key-check input[type=checkbox]:checked+label img {
    opacity: 1;
}

div.key-check img {
    height: 35px;
    cursor: pointer;
    margin-top: 8px;
}

.config-short {
    display: flex;
    align-items: center;
}

.config-short>* {
    margin-right: 10px;
}

textarea#prompt {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 75px;
    min-height: 55px;
    resize: vertical;

}

.atajo-li {
    display: block
}

a.atajo-del {
    float: right;
    cursor: pointer;
}

a.atajo-del img {
    width: 25px;
    opacity: 0.5;
}

a.atajo-del:hover img {
    opacity: 1;
}

span.atajo-model {
    font-weight: bold;
    margin: 10px 0 0 0;
    display: inline-block;
}

li.atajo-li>p {
    margin: 10px 0 15px 0;
}

div.atajo-atajo {
    display: flex;
    align-items: center;
    justify-content: start
}

img.atajo-key {
    height: 25px;
    width: auto;
    margin-right: 10px;
}

img.atajo-plus {
    height: 15px;
    width: auto;
    margin-right: 10px;
}

div.atajo-atajo>span.key {
    font-weight: bold;
    font-size: 120%;
}



.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65);
    /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60);
    /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20);
    /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221);
    /* this is a light blue */
}

.confirm {
    /* flex;*/
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    align-items: center;
    justify-content: center
}

.confirm>div {
    background-color: white;
    text-align: center;
    padding: 0 15px 15px 15px;
    border-radius: 4px;
}

.pure-button-primary {
    background-color: #2c9bb4;
}


.pure-button-primary:hover {

    background-color: #237a8d;
}

#model {
    margin-bottom: 10px;
}

#author-link {
    color: black;
    text-decoration: none;
    cursor: pointer;
}